@import "variables";


@mixin font-setting($f-size, $f-color, $f-type){
    font-size: $f-size;
    color :$f-color;
    font-family: $f-type;
}
@mixin position-setting($pos, $top, $left){
    position: $pos;
    top :$top;
    left: $left;
}
#logo-style {
    color: blue;
}
